h1{
  font-weight: 700;
  font-size: 50px;
  margin: 10px;
  margin-bottom: 20px;
}
.items-container{
  text-align: left ;
}
.component-container{
  margin: 40px;
}
.my-Button{
  min-width: 100px;
}
.my-row{
 margin: 10px 5px ;
}
.my-col{
  text-align: left;
}